# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Always state the H0 and H1 before conducting the hypothesis test.
- Happy learning!

In [2]:
import pandas as pd
import numpy as np

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [4]:
data = pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.0
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
...,...,...,...,...,...,...,...,...
33697,"ZYLINSKA, KLAUDIA",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
33698,"ZYMANTAS, LAURA C",POLICE OFFICER,POLICE,F,Salary,NaN,76266.0,NaN
33699,"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
33700,"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
33701,"ZYSKOWSKI, DARIUSZ",CHIEF DATA BASE ANALYST,DAIS,F,Salary,NaN,126732.0,NaN

Examine the `salaries` dataset using the `head` function below.

In [5]:
data

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.0
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
...,...,...,...,...,...,...,...,...
33697,"ZYLINSKA, KLAUDIA",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
33698,"ZYMANTAS, LAURA C",POLICE OFFICER,POLICE,F,Salary,NaN,76266.0,NaN
33699,"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
33700,"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
33701,"ZYSKOWSKI, DARIUSZ",CHIEF DATA BASE ANALYST,DAIS,F,Salary,NaN,126732.0,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [6]:
data.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25528
Annual Salary         8174
Hourly Rate          25528
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [9]:
data['Salary or Hourly'].value_counts(dropna= False)

Salary    25528
Hourly     8174
Name: Salary or Hourly, dtype: int64

In [56]:
hourly = data[data['Salary or Hourly']== 'Hourly']
salary = data[data['Salary or Hourly']== 'Salary']

In [62]:
hourly

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.00
5,"AGNEW, ANTONIO E",MOTOR TRUCK DRIVER,AVIATION,F,Hourly,40.0,NaN,37.45
15,"AGSALUD, FERNAN S",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,40.78
16,"AGSALUD JR, JUANITO S",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,38.52
21,"AGUAYO, LUIS M",LABORER - APPRENTICE,WATER MGMNT,F,Hourly,40.0,NaN,34.98
...,...,...,...,...,...,...,...,...
33676,"ZUNIGA, THOMAS",GENERAL LABORER - DSS,STREETS & SAN,F,Hourly,40.0,NaN,25.95
33678,"ZUNO, ERIK",CONSTRUCTION LABORER,WATER MGMNT,F,Hourly,40.0,NaN,43.72
33681,"ZURAWSKI, JEFFREY",FRM OF MACHINISTS - AUTOMOTIVE,DAIS,F,Hourly,40.0,NaN,51.43
33684,"ZUREK, FRANCIS",ELECTRICAL MECHANIC,PUBLIC SAFETY ADMIN,F,Hourly,40.0,NaN,49.35
33688,"ZWARYCZ, THOMAS J",MOTOR TRUCK DRIVER,WATER MGMNT,F,Hourly,40.0,NaN,37.45

In [61]:
hourly.isnull().sum()

Name                    0
Job Titles              0
Department              0
Full or Part-Time       0
Salary or Hourly        0
Typical Hours           0
Annual Salary        8174
Hourly Rate             0
dtype: int64

In [72]:
hourly = hourly.drop('Annual Salary', axis = 1)

In [73]:
salary.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25528
Annual Salary            0
Hourly Rate          25528
dtype: int64

In [74]:
salary = salary.drop('Typical Hours', axis = 1)

In [75]:
salary = salary.drop('Hourly Rate', axis = 1)

In [76]:
salary.isnull().sum()

Name                 0
Job Titles           0
Department           0
Full or Part-Time    0
Salary or Hourly     0
Annual Salary        0
dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [34]:
data.groupby('Department')['Name'].agg(Count='count').reset_index()

             Department  Count
0          ADMIN HEARNG     38
1         ANIMAL CONTRL     75
2              AVIATION   1856
3     BOARD OF ELECTION    111
4       BOARD OF ETHICS      8
5         BUDGET & MGMT     44
6             BUILDINGS    258
7      BUSINESS AFFAIRS    167
8            CITY CLERK     88
9          CITY COUNCIL    362
10                 COPA    123
11     CULTURAL AFFAIRS     74
12                 DAIS   1033
13         DISABILITIES     28
14     FAMILY & SUPPORT    656
15              FINANCE    544
16                 FIRE   4627
17               HEALTH    467
18              HOUSING     66
19   HOUSING & ECON DEV    154
20      HUMAN RELATIONS     17
21      HUMAN RESOURCES     75
22        INSPECTOR GEN     95
23                  LAW    398
24    LICENSE APPL COMM      1
25       MAYOR'S OFFICE    104
26                 OEMC   1737
27               POLICE  13848
28         POLICE BOARD      2
29          PROCUREMENT     84
30       PUBLIC LIBRARY   1088
31  PUBLIC SAFETY ADMIN    244
32        STREETS & SAN   2175
33           TRANSPORTN   1113
34            TREASURER     28
35          WATER MGMNT   1914

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [77]:
from scipy.stats import ttest_1samp

# hypothesis: the hourly wage of all hourly workers is significantly different from $30/hr
# we select a value for alpha of 0.05 (p-value threshold, significance level)
# Two-sided test:
# Null hypothesis or H0: = 30
# Alternative hyp or H1: <> 30

stat, pval = ttest_1samp(hourly['Hourly Rate'],30)
print('stat is  ', stat)
print('pvalue for the two-tailed test is ', pval)

stat is   31.211500329216044
pvalue for the two-tailed test is  3.825475847673794e-202

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our Null hypothesis is less than or equal to, then to reject, the test statistic must be positive (rejects the <) and the p-value below 0.05 (rejects the =).

In [78]:
police = salary[salary['Department']== 'POLICE']
# police

In [79]:
police['Annual Salary'].isnull().sum()

0

In [80]:
# hypothesis: salaries this year are higher than last year's mean of $86000/year a year for all salaried employees
# we select a value for alpha of 0.05 (p-value threshold, significance level)
# Two-sided test:
# Null hypothesis or H0: = 86000
# Alternative hyp or H1: <> 86000

stat, pval = ttest_1samp(police['Annual Salary'],86000)
print('stat is  ', stat)
print('pvalue for the two-tailed test is ', pval)

stat is   18.51748561981861
pvalue for the two-tailed test is  1.2239133904242963e-75

Using the `crosstab` function, find the department that has the most hourly workers.

In [90]:
# Assuming you have a DataFrame named 'hourly' with columns 'Department' and 'Name'
data_crosstab = pd.crosstab(hourly['Department'], hourly['Name']).sum(axis=1)

department_with_most_hourly = data_crosstab.idxmax()
print("Department with the most hourly workers:", department_with_most_hourly)

Department with the most hourly workers: STREETS & SAN

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [93]:
# hypothesis: hourly wage for the STREETS & SAN department is less than $35/hour
# we select a value for alpha of 0.05 (p-value threshold, significance level)
# Two-sided test:
# Null hypothesis or H0: = 35
# Alternative hyp or H1: <> 35
max_dep_sal = hourly[hourly['Department'] == 'STREETS & SAN']
stat, pval = ttest_1samp(max_dep_sal['Hourly Rate'],35)
print('stat is  ', stat)
print('pvalue for the two-tailed test is ', pval)

stat is   4.000138803968834
pvalue for the two-tailed test is  6.580474443773579e-05

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [112]:
# we can find a confidence interval for the population based on our sample
import scipy.stats

confidence_level = 0.95
hourlywage= hourly['Hourly Rate']
degrees_freedom = len(hourlywage) - 1  # or, for large values of sample size, just use that
sample_mean = np.mean(hourlywage)
# note that we use the standard error of the sample 
# as an estimate of the standard error of the population (which is used in the theoretical formula)
sample_standard_error = scipy.stats.sem(hourlywage) # sem = standard error of the mean = std(patients)/sqrt(degrees_freedom)

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)

In [97]:
np.std(hourlywage)/np.sqrt(degrees_freedom)

0.14694742867989846

In [98]:
print( 'confidence interval is ', confidence_interval, '.' )

confidence interval is  (34.29839539204361, 34.874504045197305) .

In [99]:
sample_standard_error

0.14694742867989574

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [108]:
confidence_level = 0.95
annualsalary= police['Annual Salary']
degrees_freedom = len(annualsalary) - 1  # or, for large values of sample size, just use that
sample_mean = np.mean(annualsalary)
# note that we use the standard error of the sample 
# as an estimate of the standard error of the population (which is used in the theoretical formula)
sample_standard_error = scipy.stats.sem(annualsalary) # sem = standard error of the mean = std(patients)/sqrt(degrees_freedom)

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)

In [109]:
np.std(annualsalary)/np.sqrt(degrees_freedom)

153.05095852634435

In [110]:
print( 'confidence interval is ', confidence_interval, '.' )

confidence interval is  (88534.1182885883, 89134.11955863392) .

In [111]:
sample_standard_error

153.0509585263483

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [13]:
# Your code here: